.out-of-view {
	visibility: hidden;
}

/* Fades */

@keyframes aiv_fade {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.aiv-fade {
	animation: aiv_fade 0.5s;
}

@keyframes aiv_fade_reverse {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.aiv-fade-reverse {
	animation: aiv_fade_reverse 0.5s;
    animation-fill-mode: forwards;
}

/* Slides */

@keyframes aiv_slide_up {
    from { opacity: 0; transform: translateY(40px); }
    to   { opacity: 1; transform: translateY(0px); }
}
@keyframes aiv_slide_down {
    from { opacity: 0; transform: translateY(-40px); }
    to   { opacity: 1; transform: translateY(0px); }
}
@keyframes aiv_slide_left {
    from { opacity: 0; transform: translateX(-40px); }
    to   { opacity: 1; transform: translateX(0px); }
}
@keyframes aiv_slide_right {
    from { opacity: 0; transform: translateX(40px); }
    to   { opacity: 1; transform: translateX(0px); }
}

.aiv-slide-up { animation: aiv_slide_up 0.5s; }
.aiv-slide-down { animation: aiv_slide_down 0.5s; }
.aiv-slide-left { animation: aiv_slide_left 0.5s; }
.aiv-slide-right { animation: aiv_slide_right 0.5s; }

/* Twist */

@keyframes aiv_twist {
    from { opacity: 0; transform: translate(-40px, 40px) rotate(-20deg); }
    to   { opacity: 1; transform: translate(0px, 0px) rotate(0deg); }
}

.aiv-twist { animation: aiv_twist 0.5s; }

@keyframes aiv_twist_reverse {
    to { opacity: 0; transform: translate(-40px, 40px) rotate(-20deg); }
    from { opacity: 1; transform: translate(0px, 0px) rotate(0deg); }
}

.aiv-twist-reverse { 
	animation: aiv_twist_reverse 0.5s; 
    animation-fill-mode: forwards;
}

/* Scale */

@keyframes aiv_scale_up {
    from { opacity: 0; transform: scale(0.5); }
    to   { opacity: 1; transform: scale(1); }
}
@keyframes aiv_scale_down {
    from { opacity: 0; transform: scale(1.5); }
    to   { opacity: 1; transform: scale(1); }
}

.aiv-scale-up { animation: aiv_scale_up 1s; }
.aiv-scale-down { animation: aiv_scale_down 1s; }